@import "../../../styles/scss/base/_variables";

.filterBox{
	display: inline-block;
	width: 100px;
	margin-right: 20px;
	margin-top: 20px;

	p{
		font-size: $s;
	}

	select{
		width: 100%;
		margin-top: 3px;
		margin-left: 5px;

		option{
			text-transform: capitalize;
		}
	}
}